@model Sports.Models.DetailTestViewModel

@{
    ViewData["Title"] = "Details of Test";
}
    <div>
        <h1 style="text-transform:uppercase">  @Html.DisplayFor(model => model.TypeOfTest)    @Html.DisplayFor(model => model.TestDate)</h1>
        <br />
        <h2><a class="nav-link text-dark" asp-area="" asp-route-id="@Model.Id" asp-controller="TestDetails" asp-action="Create">Add new Athlete to Test </a></h2>
        <br />
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                Users
            </th>
            <th>
                Distance(Meter)
            </th>
            <th>
                Fitness Ranking
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TestDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distnace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FitnessRanking)
                </td>
                <td>
                    <a asp-controller="TestDetails" asp-action="Edit" asp-route-id="@item.TestDetailId">Edit this record</a>
                </td>
            </tr>
        }
    </tbody>
</table>

