@model IEnumerable<Sports.Models.TestViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1><a asp-action="Create">ADD NEW TEST</a></h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfTest)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfParticipants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfTest)
            </td>


            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
